In [1]:
import pandas as pd

In [2]:
LogInfo = pd.read_csv('Training_LogInfo.csv', encoding='gbk')
Userupdate = pd.read_csv('Training_Userupdate.csv', encoding='gbk')

# 转换时间字符串
LogInfo['Listinginfo1'] = pd.to_datetime(LogInfo['Listinginfo1'])  # 小写i
LogInfo['LogInfo3'] = pd.to_datetime(LogInfo['LogInfo3'])
LogInfo.head()

     Idx Listinginfo1  LogInfo1  LogInfo2   LogInfo3
0  10001   2014-03-05       107         6 2014-02-20
1  10001   2014-03-05       107         6 2014-02-23
2  10001   2014-03-05       107         6 2014-02-24
3  10001   2014-03-05       107         6 2014-02-25
4  10001   2014-03-05       107         6 2014-02-27

In [3]:
Userupdate['ListingInfo1'] = pd.to_datetime(Userupdate['ListingInfo1'])
Userupdate['UserupdateInfo2'] = pd.to_datetime(Userupdate['UserupdateInfo2'])
Userupdate.head()

     Idx ListingInfo1    UserupdateInfo1 UserupdateInfo2
0  10001   2014-03-05       _EducationId      2014-02-20
1  10001   2014-03-05         _HasBuyCar      2014-02-20
2  10001   2014-03-05    _LastUpdateDate      2014-02-20
3  10001   2014-03-05  _MarriageStatusId      2014-02-20
4  10001   2014-03-05       _MobilePhone      2014-02-20

In [4]:
# 提取用户信息更新表和登录信息表中的时间信息
# 定义一个提取用户信息的函数
def getTime(file, date):
    year = [i.year for i in file[date]]
    month = [i.month for i in file[date]]
    week = [i.week for i in file[date]]
    return year, month, week

In [5]:
extractedLogInfo1 = getTime(LogInfo, 'Listinginfo1')
print('表1时间信息1：\n', extractedLogInfo1[0][0:5], extractedLogInfo1[1][0:5], extractedLogInfo1[2][0:5])
extractedLogInfo2 = getTime(LogInfo, 'LogInfo3')
print('表1时间信息2：\n', extractedLogInfo2[0][0:5], extractedLogInfo2[1][0:5], extractedLogInfo2[2][0:5])

表1时间信息1：
 [2014, 2014, 2014, 2014, 2014] [3, 3, 3, 3, 3] [10, 10, 10, 10, 10]
表1时间信息2：
 [2014, 2014, 2014, 2014, 2014] [2, 2, 2, 2, 2] [8, 8, 9, 9, 9]

In [6]:
extractedUserupdate1 = getTime(Userupdate, 'ListingInfo1')
print('表2时间信息1：\n', extractedUserupdate1[0][0:5], extractedUserupdate1[1][0:5], extractedUserupdate1[2][0:5])
extractedUserupdate2 = getTime(Userupdate, 'UserupdateInfo2')
print('表2时间信息2：\n', extractedUserupdate2[0][0:5], extractedUserupdate2[1][0:5], extractedUserupdate2[2][0:5])

表2时间信息1：
 [2014, 2014, 2014, 2014, 2014] [3, 3, 3, 3, 3] [10, 10, 10, 10, 10]
表2时间信息2：
 [2014, 2014, 2014, 2014, 2014] [2, 2, 2, 2, 2] [8, 8, 8, 8, 8]

In [10]:
# 计算用户信息更新表和登录信息表中两时间的差
deltaLogInfo_day: pd.Timedelta = LogInfo['Listinginfo1'] - LogInfo['LogInfo3']
print(type(deltaLogInfo_day))
deltaLogInfo_hours = deltaLogInfo_day.dt.total_seconds() / 3600.0
deltaLogInfo_minutes = deltaLogInfo_day.dt.total_seconds() / 60.0
print('表1两列时间日之差：\n', deltaLogInfo_day.head())
print('表1两列时间小时之差：\n', deltaLogInfo_hours.head)
print('表1两列时间分钟之差：\n', deltaLogInfo_minutes.head())
deltaUserupdate_day = Userupdate['ListingInfo1'] - Userupdate['UserupdateInfo2']
deltaUserupdate_hours = deltaUserupdate_day.dt.total_seconds() / 3600.0
deltaUserupdate_minutes = deltaUserupdate_day.dt.total_seconds() / 60.0
print('表2两列时间日之差：\n', deltaUserupdate_day.head())
print('表2两列时间小时之差：\n', deltaLogInfo_hours.head)
print('表2两列时间分钟之差：\n', deltaLogInfo_minutes.head())

<class 'pandas.core.series.Series'>
表1两列时间日之差：
 0   13 days
1   10 days
2    9 days
3    8 days
4    6 days
dtype: timedelta64[ns]
表1两列时间小时之差：
 <bound method NDFrame.head of 0         312.0
1         240.0
2         216.0
3         192.0
4         144.0
          ...
580546    312.0
580547    312.0
580548    312.0
580549      0.0
580550      0.0
Length: 580551, dtype: float64>
表1两列时间分钟之差：
 0    18720.0
1    14400.0
2    12960.0
3    11520.0
4     8640.0
dtype: float64
表2两列时间日之差：
 0   13 days
1   13 days
2   13 days
3   13 days
4   13 days
dtype: timedelta64[ns]
表2两列时间小时之差：
 <bound method NDFrame.head of 0         312.0
1         240.0
2         216.0
3         192.0
4         144.0
          ...
580546    312.0
580547    312.0
580548    312.0
580549      0.0
580550      0.0
Length: 580551, dtype: float64>
表2两列时间分钟之差：
 0    18720.0
1    14400.0
2    12960.0
3    11520.0
4     8640.0
dtype: float64